
@{
    ViewBag.Title = "index";
}

<h2>Profile @ViewBag.user.name</h2>
<h2>Note de satisfaction @ViewBag.user.note</h2>
<div>
    <form>
        <div class="form-group">
            <div class='input-group'>
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp" value="@ViewBag.user.name" />
            </div>
        </div>
        <div class="form-group">
            <div class='input-group'>
                <label for="exampleInputEmail1">Email</label>
                <input type="text" class="form-control" name="lastName" id="lastName" aria-describedby="emailHelp" value="@ViewBag.user.lastName" />
            </div>
        </div>
        <div class="form-group">
            <div class='input-group'>
                <label for="exampleInputEmail1">Email</label>
                <input type="text" class="form-control" name="nbplace" id="nbplace" aria-describedby="emailHelp" value="@ViewBag.user.email" />
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Modifier Info</button>
    </form>
    <div id="accordion" role="tablist" aria-multiselectable="true">
        @{
            var t = 0;
            <input type="hidden" id="length" value="@ViewBag.length" />
            foreach (var v in ViewBag.list)
            {

                <div id="@String.Concat("notecard",t)" class="card">
                    <div class="card-header" role="tab" id="@String.Concat("headingOne", t)">
                        <h5 class="mb-0">
                            <a id="@String.Concat("link", t)" data-toggle="collapse" data-parent="#accordion" href="@String.Concat("#collapseOne", t)" aria-expanded="true" aria-controls="@String.Concat("#collapseOne", t)">
                                @v.depart-@v.arrive   ----------------------------------------@v.date
                            </a>
                        </h5>
                    </div>

                    <div id="@String.Concat("collapseOne", t)" class=" show in" role="tabpanel" aria-labelledby="@String.Concat("#headingOne", t)">
                        <div id="@t" class="card-block">
                            <form id="@String.Concat("idvoyagenote",t)" >
                                @foreach (var r in ViewBag.listres)
                                {
                                    if (r.idVoyage == v.id)
                                    {
                                        <input type="hidden" id="@String.Concat("idresa",t)" name="idresa" value="@r.id" />
                                    }
                                }
                                <input type="hidden" id="@String.Concat("idvoyage",t)" name="idvoyage" value="@v.id" />
                                <input type="hidden" name="note" id="@String.Concat("note",t)" />
                            </form>
                           
                            <label for="input-2" class="control-label">Rate This</label>
                            <input id="input-@t" name="@t" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1">
                        </div>
                    </div>
                </div>
                t++;
            }



        }
    </div>
    <div id="accordion" role="tablist" aria-multiselectable="true">
        @{
             t = 0;
            <input type="hidden" id="length" value="@ViewBag.length" />
            foreach (var v in ViewBag.listvoyage)
            {

                <div class="card">
                    <div class="card-header" role="tab" id="@String.Concat("headingOnevoyage", t)">
                        <h5 class="mb-0">
                            <a id="@String.Concat("linkvoyage", t)" data-toggle="collapse" data-parent="#accordion" href="@String.Concat("#collapseOnevoyage", t)" aria-expanded="true" aria-controls="@String.Concat("#collapseOnevoyage", t)">
                                @v.depart-@v.arrive   ----------------------------------------@v.date
                            </a>
                        </h5>
                    </div>

                    <div id="@String.Concat("collapseOnevoyage", t)" class=" show in" role="tabpanel" aria-labelledby="@String.Concat("#headingOnevoyage", t)">
                        <div id="@t" class="card-block">
                            @v.depart-@v.arrive


                            Heure départ : @v.heureDep
                            <br>
                            Nombre de place restante
                            @for (int i = 0; i < v.nbplace; i++)
                            {
                                <img src="~/Content/image/images.png" width="50" height="25" />
                            }

                            <br>
                            @foreach (var c in ViewBag.condition)
                            {
                                if (c.idvoyage == v.id)
                                {
                                    foreach (var value in ViewBag.list)
                                    {
                                        if (c.idType == value.id)
                                        {
                                            switch (value.value)
                                            {
                                                case ("non fumeur"):
                                                    <img src="~/Content/image/no_smoking_symbol.svg.png" width="50" height="25" />
                                                    break;
                                                case ("pas d'animaux autorisés"):
                                                    <img src="~/Content/image/pictogram-din-p014-dogs-or-animals.png" width="50" height="25" />
                                                    break;
                                                case ("1 valise autorisé par passager"):
                                                    <div>Nombre de valise par passager:</div>
                                                    <img src="~/Content/image/téléchargement.png" width="50" height="25" />
                                                    break;
                                                case ("2 valise autorisé par passager"):
                                                    <div>Nombre de valise par passager:</div>
                                                    <img src="~/Content/image/téléchargement.png" width="50" height="25" />
                                                    <img src="~/Content/image/téléchargement.png" width="50" height="25" />
                                                    break;
                                                case ("3 valise autorisé par passager"):
                                                    <div>Nombre de valise par passager:</div>
                                                    <img src="~/Content/image/téléchargement.png" width="50" height="25" />
                                                    <img src="~/Content/image/téléchargement.png" width="50" height="25" />
                                                    <img src="~/Content/image/téléchargement.png" width="50" height="25" />
                                                    break;
                                            }
                                            @value.value<br />
                                        }
                                    }
                                }
                            }
                            Prix de la place : @v.price<br>
                            Point de départ : @v.note
                            <form class="form-inline my-2 my-lg-0" action="/Voyage/delete" method="post">
                                <input class="form-control mr-sm-2" name="id" type="hidden" value="@v.id">
                                <input type="hidden" value="@v.price" name="price" />
                                <button type="submit" class="btn btn-primary">Supprimer</button>

                            </form>
                        </div>
                    </div>
                </div>
                t++;
            }



        }
    </div>



</div>
<script>
    $(document).ready(function () {
        $(function () {
            $("[id^=input]").rating().on("rating:change", function (event, value, caption) {
               
                $("#note" + $(this).attr("name")).val($(this).val());
                var id = $("#idvoyage" + $(this).attr("name")).val();
                var idresa = $("#idresa" + $(this).attr("name")).val();
                var t = $(this).attr("name");
                $.ajax({
                    url: "/User/updatenote",
                    type: "POST",
                    data: { "note": $(this).val().toString().replace(".", ","), "idvoyage": id ,"idresa":idresa},
                    success : function (html) {
                       
                        $("#notecard" +t ).fadeOut();
                    }
                })
                
            });



            })

        
    });
</script>