<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/clockpicker.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/Site.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/standalone.css" crossorigin="anonymous">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/Content/star-rating.css" media="all" rel="stylesheet" type="text/css" />
    <meta charset="utf-8" />
   


   
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="~/Scripts/clockpicker.js" ></script>
    <script src="~/Scripts/clockpicker.min.js"></script>
    <script src="~/Scripts/star-rating.js" type="text/javascript"></script>
    <script src="~/Scripts/star-rating.min.js" type="text/javascript"></script>
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
            <a class="navbar-brand" href="#">Amigo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    
                  
                    @{
                        if (Session["login"] != null)
                        {
                            <li>
                                <a class="nav-link " href="@Url.Action("Index", "Voyage")">  Créer Voyage</a>
                              
                            </li>

                            <li>
                                <a class="nav-link " href="@Url.Action("Index", "User")">  Profile</a>

                            </li>
                            <li>
                                <a class="nav-link " href="@Url.Action("Deconnexion", "Home")"> Deconnexion</a>

                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link " href="@Url.Action("Inscription", "Home")">Inscription</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="@Url.Action("Connexion", "Home")">Connexion</a>
                            </li>
                        }

                    }
                </ul>
                <form class="form-inline my-2 my-lg-0" action="/Voyage/search" method="post">
                    <input class="form-control mr-sm-2" name="arr" type="search" placeholder="Arruvé" aria-label="Search">
                    <input class="form-control mr-sm-2" name="dep" type="search" placeholder="Départ" aria-label="Search">
                    <input class="form-control mr-sm-2" name="date" type="search" placeholder="Date" id="datesearch" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
   
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    


    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $("#datesearch").datepicker();
               

            });
        });
    </script>
  
</body>


</html>
